spring:
  application:
    name: locked-saving-service

  datasource:
    url: jdbc:postgresql://localhost:5432/locked_saving_db
    username: saving
    password: 123
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        jdbc:
          time_zone: UTC